####################################
# Data files (large / generated)
####################################

processed_data/
results/
shapefiles/
shapefiles/blocks_*
shapefiles/MOM_raster_*
01_train.sh
slurm_output/