####################################
# Data files (large / generated)
####################################

processed_data/
processed_data_v1/
results*
shapefiles/
shapefiles/blocks_*
shapefiles/MOM_raster_*
slurm_output/
__pycache__/
processed_data_depth_velocity/